

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/css/inter.css">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <br>
      <br>
      <img src="/css/admin.png" id="icon" alt="User Icon" width="30" height="300"/>
    <br>
    <br>
    </div>

    <!-- Login Form -->
    <form action="/admin" method="POST">
      <input type="text" id="login" name = "email" class="fadeIn second" name="login" placeholder="Login" required>
      <br>
      <br>

      <input type="password" id="password" name = "password" class="fadeIn third" name="login" placeholder="Password" required>
      <br>
      <br>
      <button type="submit" class="btn">Login</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/">Forgot Password?</a>
    </div>

  </div>
</div>
